html   {
	text-align: center;
	background-color: #FFFFFF;

	}
	
body {
 	text-align: center;
	width: 480px;

	/*margin: 0 auto 0 auto;*/
	background-color: #FFFFFF;
	color: #4D4D4D;
	}
	
	
	
li    {
	background-color: #828282; 
	color: #FFFFFF;
	position: relative;
	/*top: 26px;
	left: 16%; */
	display: inline;
	margin: 5px;
	padding: 5px;
	
	}
