html   {
	/*text-align: center;*/
	background-color: #FFFFFF;

	}
	
@-ms-viewport {
  width: device-width;
        }
        /* This was taken from http://css-tricks.com/snippets/html/responsive-meta-tag/ */
	
body {
 	text-align: center;
	/*width: 480px; */
	/*margin: 0 auto 0 auto;*/
	background-color: #FFFFFF;
	color: #4D4D4D;
	}

#logo {
	width: 60%;
	height: 60%;
	margin-left: auto;
    	margin-right: auto;
}
	
nav  {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
        }
        
#line {
	position: relative;
	top: -150px;
}
        
        /* Got hexcode from http://www.2createawebsite.com/build/hex-colors.html#hextool */
	
li    {
	background-color: #FFFFFF; 
	color: #70CBD7;
	position: relative;
	/*top: 26px;
	left: 16%; */
	display: inline;
	margin: 5px;
	padding: 5px;
	
	}
	
p      {
	text-align: justify;
	
        }

img    {
	width: 100%;
	height: auto;
}	

footer {
	background-color: #FFFFFF;
	color: #70CBD7;
	margin: 5px;
	padding: 5px;
	
       }
