html   {
	text-align: center;
	background-color: #FFFFFF;

	}
	
	
#header {
	margin: 0 auto 0 auto;
	/* background-image: url("images/foot.png"); */
	color: grey;
	padding: 20px;
	
	}
	
li    {
	/* background-color: #FFDBA9; */ 
	color: #B0252B;
	/* position: relative; */
	top: 26px;
	left: 16%;
	display: inline;
	margin: 17px;
	padding: 10px;
	
	}
